# 1번

In [1]:
a = [0,1,2,3,4]
print(a[:3], a[:-3])

[0, 1, 2] [0, 1]

# 2번

In [2]:
a = [0,1,2,3,4]
print(a[::-1])

[4, 3, 2, 1, 0]

# 3번

In [23]:
first = ["egg", "salad", "bread", "soup", "canafe"]
second = ["fish", "lamb", "pork", "beef", "chicken"]
third = ["apple", "banana","orange", "grape", "mango"]

In [24]:
order = [first, second, third]

In [25]:
john = [order[0][:-2],second[1::3],third[0]]

In [26]:
del john[2]

In [27]:
john.extend([order[2][0 :1]])
print(john)

[['egg', 'salad', 'bread'], ['lamb', 'chicken'], ['apple']]

# 4번

In [28]:
list_a = [3,2,1,4]
list_b = list_a.sort()
print(list_a, list_b)

[1, 2, 3, 4] None

# 5번

In [64]:
a = [5,7,3]
b = [3,9,1]
c = a + b
c = c.sort()
print(c)

None

# 7번

In [34]:
fruits = ['apple', 'banana','cherry', 'grape', 'orange', 'strawberry','melon']
print(fruits[-3:], fruits[1::3])

['orange', 'strawberry', 'melon'] ['banana', 'orange']

# 8번

In [35]:
num = [1,2,3,4]
print(num * 2)

[1, 2, 3, 4, 1, 2, 3, 4]

# 9번

In [41]:
a = [1,2,3,5]
b = ['a','b','c','d','e']

In [42]:
a.append('g')
b.append(6)
print('g' in b, len(b))

False 6

# 10번

In [43]:
list_a = ['Hankook', 'University', 'is', 'an', 'academic', 'institute', 'located', 'in', 'South Korea']
list_b =[]
for i in range(len(list_a)):
    if i % 2 !=1:
        list_b.append(list_a[i])
print(list_b)

['Hankook', 'is', 'academic', 'located', 'South Korea']

# 11번

In [1]:
admission_year = input("입학 연도를 입력하세요: ")
print(type(admission_year))

입학 연도를 입력하세요: 2016
<class 'str'>

In [2]:
admission_year = input("입학 연도를 입력하세요: ")
print(type(admission_year))

입학 연도를 입력하세요: "2016"
<class 'str'>

# 12번

In [3]:
country = ['Korea','Japan','China']
capital = ['Seoul','Tokyo','Beijing']
index = [1,2,3]
country.append(capital)
country[3][1] = index[1:]
print(country)

['Korea', 'Japan', 'China', ['Seoul', [2, 3], 'Beijing']]

# 13번

In [ ]:
week1 = ["Mon","Tue","Wed"]
week2 = ["Thu","Fri","Sat","Sun"]
week3 = []
print(week2[:len(week3) + 1])
['Thu','Fri']

In [5]:
week1 = ["Mon","Tue","Wed"]
week2 = ["Thu","Fri","Sat","Sun"]
week3 = ['Mon']
print(week2[:len(week3) + 1])

['Thu', 'Fri']

# 14번(퀴즈)

In [7]:
a = 1
b = 1
a is b

True

In [8]:
a = 300
b = 300
a is b

False

# 15번(퀴즈)

In [16]:
a = [5,4,3,2,1]
b = a
c = [5,4,3,2,1]

In [17]:
a is b

True

In [18]:
a is c

False

In [19]:
a == b

True

In [21]:
a == c

True