# 1번

In [54]:
def calculator(N):
    if N % 2 ==0:
        result = 1
        for i in range(1,N+1):
            result = result * i
    else:
        result = 0
        for i in range(1,N+1):
            result = result+i
    return result
calculator(5)

15

# 2번

In [55]:
fruit = 'apple'
if fruit == 'Apple':
    fruit = 'Apple'
elif fruit == 'fruit':
    fruit = 'fruit'
else:
    fruit = fruit
print(fruit)

apple

# 3번

In [56]:
num = ['12', '34', '56']
for i in num:
    i=int(i)
print(num)

['12', '34', '56']

# 4번

In [57]:
number = ["1",2,3,float(4),str(5)]
if number[4] == 5:
    print(type(number[0]))
elif number[3] == 4:
    print(number[2:-1])

[3, 4.0]

# 5번

In [58]:
num = 0
i=1

while i<8:
    if i % 3 == 0:
        break
    i +=1
    num +=i
print(num)

5

# 6번

In [59]:
result = 0
for i in range(5,-5,-2):
    if i <-3:
        result +=1
    else:
        result -=1
        
print(result)

-5

# 7번

In [1]:
fruit = 'apple'
if fruit == 'Apple':
    fruit  = 'Apple'
elif fruit == 'fruit':
    fruit = 'fruit'
else:
    fruit = fruit
print(fruit)

apple

# 8번

In [4]:
first_value = 0
second_value = 0
for i in range(1,10):
    if i is 5:
        continue
        first_value = i
    if i is 10:
        break
        second_value = i
print(first_value + second_value)

0

# 9번

In [5]:
num =""
for i in range(10):
    if i <= 5 and (i % 2)==0:
        continue
    elif i is 7 or i is 10:
        continue
    else:
        num = str(i) + num
print(num)

986531

# 10번

In [6]:
def work_status(task,worker,day):
    rest_task = task
    for k in range(day):
        if rest_task > 0:
            rest_task = rest_task-worker
        elif rest_task <=0:
            print("Task end")
    if rest_task > 0:
        print("Hire more workers")
        
work_status(100,11,10)
work_status(100,1,10)
work_status(100,9,10)
work_status(100,10,10)

Hire more workers
Hire more workers

# 11번

In [7]:
score_list = [5,10,15,20,25,30]

sum_of_score = 0
i = 0
while i <len(score_list):
    if i % 2 ==0:
        sum_of_score += score_list[i]
    i += 1

print(sum_of_score)

45

# 12번

In [8]:
coupon = 0
money = 200000
coffee = 3500

while money > coffee:
    if coupon < 4:
        money = money - coffee
        coupon += 1
    else:
        money += 2800
        coupon = 0
print(money)

2600

# 13번

다음 코드는 변수 a와 b의 숫자를 비교하여 숫자와 자릿수가 같으면 'strike', 숫자는 서로 포함하나 자릿수가 다르면 'ball'로 카운트하는 프로그램이다. 다음 프로그램의 실행 결과를 쓰시오. 또한, 결과값이 맞지 않는 이유를 쓰고, 올바른 결과값이 나오도록 코드를 수정하시오.

In [29]:
b = "693"
b.count("9")

1

In [27]:
b ="693"
b.find("9")

1

In [37]:
a = "369"
b = "693"

strike = 0
ball = 0

for number in a:
    if b.count(number) >=1: # b에 문자열 number와  같은 문자의 개수가 1 이상이면==>즉, 포함하는 숫자가 같으면
        if b.find(number) == a.find(number):
            strike +=1
        else:
            ball +=1
    print("Strike: ",strike, "Ball: ", ball)

Strike:  0 Ball:  1
Strike:  0 Ball:  2
Strike:  0 Ball:  3

# 14번

In [9]:
list_data_a = [1,2]
list_data_b = [3,4]

for i in list_data_a:
    for j in list_data_b:
        result = i+j
print(result)

6

# 15번

In [11]:
list_1 = [[1,2],[3],[4,5,6]]
a,b,c = list_1
list_2 = a + b + c

print(list_2)

[1, 2, 3, 4, 5, 6]